composition/fonts/
composition/seg/
composition/stills/
composition/frames/
composition/music_raw.wav
composition/music_ssw.wav
composition/music_*.json
composition/seg_ssw/
capture/netcache/
composition/__pycache__/
composition/music_teaser.wav
composition/seg_teaser/
composition/music_*_estetik.wav
